    <div class="depth-indicator-left"><div class="depth-text-left">0m</div><div class="depth-line-left"></div></div>

    <div id="elevator-panel">
        <div class="panel-header">ELEVATOR</div>
        <div id="clock-display"><div id="date-display">YYYY-MM-DD</div><div id="time-display">HH:MM:SS</div></div>
        <div class="panel-status-display"><h3>//:Welcome to JioooBasement</h3></div>
        <nav class="elevator-buttons">
            <ul>
                <!-- 新增：雪花开关按钮 -->
                <li><a href="#" class="elevator-button" id="snow-toggle">Snow!!!</a></li>


                <li><a href="#" class="elevator-button" data-target-id="hero-section">Return to surface</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-1-line">To 01</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-2-line">To 02</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-3-line">To 03</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-4-line">To 04</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-5-line">To 05</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-6-line">To 06</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-7-line">To 07</a></li>
                <li><a href="#" class="elevator-button" data-target-id="sector-8-line">To 08</a></li>
            </ul>
        </nav>
    </div>

    <script src="static/js/homepage.js"></script>
