    <div id="sector-1-line" class="border-line sector-depth-line depth-line-265"><div class="border-text">Sector-01 Depth: 265m</div></div>
    <div id="sector-2-line" class="border-line sector-depth-line depth-line-546"><div class="border-text">Sector-02 Depth: 546m</div></div>
    <div id="sector-3-line" class="border-line sector-depth-line depth-line-1226"><div class="border-text">Sector-03 Depth: 1226m</div></div>
    <div id="sector-4-line" class="border-line sector-depth-line depth-line-2515"><div class="border-text">Sector-04 Depth: 2515m</div></div>
    <div id="sector-5-line" class="border-line sector-depth-line depth-line-3085"><div class="border-text">Sector-05 Depth: 3085m</div></div>
    <div id="sector-6-line" class="border-line sector-depth-line depth-line-3655"><div class="border-text">Sector-06 Depth: 3655m</div></div>
    <div id="sector-7-line" class="border-line sector-depth-line depth-line-4062"><div class="border-text">Sector-07 Depth: 4062m</div></div>
    <div id="sector-8-line" class="border-line sector-depth-line depth-line-4565"><div class="border-text">Sector-08 Depth: 4565m</div></div>
